// CSS nesting triggers a parse error if we're not using a customSyntax.
.n1 {
  .n2 {
    .n4 {
      padding: 1px;
    }
  }
}

.foo {
  $size: 10;
  padding: $size * 1px;
}

.bar {
  .bar-baz {
    padding: 8px;
  }
}
